<%- include("partials/header"); -%>

<section class="variety">

    <div class="container-fluid vardesc">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 varimg">


                            <img src="images/fruits/apple.png" alt="apple img" class="vimg">
                            <p class="vfname">APPLE</p>
                        </div>


                        <div class="col-lg-8 vardata">

                            <!-- adding quote  -->
                            <div class="varqt">
                                <p><span class="emboss">🧠</span> <br>
                                    One average sized apple contains almost twice the amount of fiber as one serving of
                                    a fiber supplement. It also tastes a lot better, too. Why bother with supplements
                                    when you can eat a delicious apple?

                                </p>
                                <h1 class="listheading">Available Varieties right now ...</h1>

                            </div>

                            <!-- adding table  -->
                            <div class="vartab">


                                <table>
                                    <tr>
                                        <th>Variety</th>
                                        <th>Flesh Colour</th>
                                        <th>Standard Cartoon Weight</th>
                                    </tr>

                                    <tr>

                                        <td>Alvina Gala</td>
                                        <td></td>
                                        <td>12</td>
                                    </tr>
                                    <tr>

                                        <td>Bravo</td>
                                        <td></td>
                                        <td>12</td>
                                    </tr>
                                    <tr>

                                        <td>Buckeye Gala</td>
                                        <td></td>
                                        <td>12</td>
                                    </tr>
                                    <tr>

                                        <td>Crimson Snow</td>
                                        <td></td>
                                        <td>12</td>
                                    </tr>
                                    <tr>

                                        <td>Galval</td>
                                        <td></td>
                                        <td>12</td>
                                    </tr>
                                    <tr>

                                        <td>Granny Smith</td>
                                        <td></td>
                                        <td>12</td>
                                    </tr>
                                    <tr>

                                        <td>Lady in Red</td>
                                        <td>Red</td>
                                        <td>12</td>
                                    </tr>
                                    <tr>

                                        <td>Lady William</td>
                                        <td></td>
                                        <td>12</td>
                                    </tr>
                                    <tr>

                                        <td>Pink Eve</td>
                                        <td></td>
                                        <td>12</td>
                                    </tr>
                                    <tr>

                                        <td>Pink Kiss</td>
                                        <td></td>
                                        <td>12</td>
                                    </tr>
                                    <tr>

                                        <td>Pink Lady</td>
                                        <td></td>
                                        <td>12</td>
                                    </tr>
                                    <tr>

                                        <td>Rosy Glow</td>
                                        <td></td>
                                        <td>12</td>
                                    </tr>
                                    <tr>

                                        <td>Rosy Gala</td>
                                        <td></td>
                                        <td>12</td>
                                    </tr>
                                    <tr>

                                        <td>Sundowner</td>
                                        <td></td>
                                        <td>12</td>
                                    </tr>


                                </table>


                            </div>



                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</section>

<script src="js/variety.js" type="text/javascript"></script>


<%- include("partials/footer"); -%>