<%- include("partials/header"); -%>

<section class="variety">

    <div class="container-fluid vardesc">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 varimg">


                            <img src="images/fruits/cherry.png" alt="apple img" class="vimg">
                            <p class="vfname">CHERRY</p>
                        </div>


                        <div class="col-lg-8 vardata">

                            <!-- adding quote  -->
                            <div class="varqt">
                                <p><span class="emboss">🧠</span> <br>
                                    A typical cherry tree produces 7000 cherries. A cherry tree can grow 33 feet in height! The cherry tree develops beautiful white flowers during the spring. Cherry production starts 3 to 4 years after planting A cherry tree can survive and produce fruit for around 100 years.

                                </p>
                                <h1 class="listheading">Available Varieties right now ...</h1>

                            </div>

                            <!-- adding table  -->
                            <div class="vartab">

                                
                                <table>
                                    <tr>
                                        <th>Variety</th>
                                        <th>Flesh Colour</th>
                                        <th>Standard Cartoon Weight</th>
                                    </tr>
                                    <tr>
                                        <td>Cherry</td>
                                        <td></td>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>Lapin</td>
                                        <td></td>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>Stella</td>
                                        <td></td>
                                        <td>5</td>
                                    </tr>
                                </table>

                            </div>



                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</section>


<script src="js/variety.js" type="text/javascript"></script>
<%- include("partials/footer"); -%>