<%- include("partials/header"); -%>

<section class="variety">

    <div class="container-fluid vardesc">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 varimg">


                            <img src="images/fruits/nectarine.png" alt="apple img" class="vimg">
                            <p class="vfname" style="transform: scale(3.5, 1.2);letter-spacing:16px ;">NECTARINE</p>
                        </div>


                        <div class="col-lg-8 vardata">

                            <!-- adding quote  -->
                            <div class="varqt">
                                <p><span class="emboss">🧠</span> <br>
                                    Nectarines are a smooth-skinned variety of peach that's packed with vitamins,
                                    minerals, antioxidants, and fiber. They're also low in calories and fat. Among other
                                    benefits, they support iron absorption, boost weight loss, and enhance skin health.

                                </p>
                                <h1 class="listheading">Available Varieties right now ...</h1>

                            </div>

                            <!-- adding table  -->
                            <div class="vartab">
                                <table>
                                    <tr>
                                        <th>Variety</th>
                                        <th>Flesh Colour</th>
                                        <th>Standard Cartoon Weight</th>
                                    </tr>

                                    <tr>
                                        <td>Arctic Mist</td>
                                        <td>White</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>August Pearl</td>
                                        <td>White</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Candy Pearl</td>
                                        <td>White</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Fire Pearl</td>
                                        <td>White</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Fire Sweet</td>
                                        <td>Yellow</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Grand Sweet</td>
                                        <td>Yellow</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Majestic Pearl</td>
                                        <td>White</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Red Glen</td>
                                        <td>Yellow</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Ruby Diamond</td>
                                        <td>Yellow</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>September bright</td>
                                        <td>Yellow</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>September Reds</td>
                                        <td>Yellow</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Sierra Pearl</td>
                                        <td>White</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Spring Flare 22</td>
                                        <td>Yellow</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Summer Flare 31</td>
                                        <td>Yellow</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>White Nectarine</td>
                                        <td>White</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Yellow Nectarine</td>
                                        <td>Yellow</td>
                                        <td>10</td>
                                    </tr>
                                </table>

                            </div>



                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</section>


<script src="js/variety.js" type="text/javascript"></script>

<%- include("partials/footer"); -%>