<%- include("partials/header"); -%>

<section class="variety">

    <div class="container-fluid vardesc">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 varimg">


                            <img src="images/fruits/peach.png" alt="apple img" class="vimg">
                            <p class="vfname">PEACH</p>
                        </div>


                        <div class="col-lg-8 vardata">

                            <!-- adding quote  -->
                            <div class="varqt">
                                <p><span class="emboss">🧠</span> <br>
                                    To ensure the peach doesn’t overripe before it reaches the consumer, the fruit is rinsed through a hydro-cooler (ice-water bath) to stop it from ripening.After going through a hydro-cooler, the fruit is cleaned, defuzzed, and culled to remove the least desirable ones.

                                </p>
                                <h1 class="listheading">Available Varieties right now ...</h1>

                            </div>

                            <!-- adding table  -->
                            <div class="vartab">

                                <table>
                                    <tr>
                                        <th>Variety</th>
                                        <th>Flesh Colour</th>
                                        <th>Standard Cartoon Weight</th>
                                    </tr>

                                    <tr>
                                        <td>April Snow</td>
                                        <td>White</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Autumn snow</td>
                                        <td>White</td>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>Britney Lane</td>
                                        <td>Yellow</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Earli Rich</td>
                                        <td>Yellow</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Ice Princess</td>
                                        <td>White</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Ivory Duchess</td>
                                        <td>White</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Ivory Princess</td>
                                        <td>White</td>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>June Time</td>
                                        <td>Yellow</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Klondike White</td>
                                        <td>White</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Pearl Princess</td>
                                        <td>White</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Princess Time</td>
                                        <td>Yellow</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Red Princess</td>
                                        <td>Yellow</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Ryan Sun</td>
                                        <td>Yellow</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Scarlet Snow</td>
                                        <td>White</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>September Snow</td>
                                        <td>White</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Snow Fall</td>
                                        <td>White</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Snow Fire</td>
                                        <td>White</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Snow Giant</td>
                                        <td>White</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Snow King</td>
                                        <td>White</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Snow Princess</td>
                                        <td>White</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Spring Flame 24</td>
                                        <td>Yellow</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Spring Princess</td>
                                        <td>Yellow</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Spring Snow</td>
                                        <td>White</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Sugar Giant</td>
                                        <td>White</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Summer Flame 28</td>
                                        <td>Yellow</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Summer Flame 30</td>
                                        <td>Yellow</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Summer Flame 31</td>
                                        <td>Yellow</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Summer Sweet</td>
                                        <td>White</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Sweet September</td>
                                        <td>Yellow</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>White Peach</td>
                                        <td>White</td>
                                        <td>10</td>
                                    </tr>
                                </table>


                            </div>



                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</section>


<script src="js/variety.js" type="text/javascript"></script>

<%- include("partials/footer"); -%>