<%- include("partials/header"); -%>

<section class="variety">

    <div class="container-fluid vardesc">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 varimg">


                            <img src="images/fruits/pear.png" alt="apple img" class="vimg">
                            <p class="vfname">PEAR</p>
                        </div>


                        <div class="col-lg-8 vardata">

                            <!-- adding quote  -->
                            <div class="varqt">
                                <p><span class="emboss">🧠</span> <br>
                                    Pears are one of the few fruits that have an extensive history, reaching back to about 1000 B.C. Pears used to be called “butter fruit” for its soft, butter-like texture. Pears are a part of the rose family. Pear tree wood is often times used to construct musical instruments, furniture, and other wooden décor.

                                </p>
                                <h1 class="listheading">Available Varieties right now ...</h1>

                            </div>

                            <!-- adding table  -->
                            <div class="vartab">

                                
                                <table>
                                    <tr>
                                        <th>Variety</th>
                                        <th>Flesh Colour</th>
                                        <th>Standard Cartoon Weight</th>
                                    </tr>
                                    <tr>
                                        <td>Beurre Bosc</td>
                                        <td></td>
                                        <td>15</td>
                                    </tr>
                                    <tr>
                                        <td>Corella</td>
                                        <td></td>
                                        <td>12</td>
                                    </tr>
                                    <tr>
                                        <td>Packham</td>
                                        <td></td>
                                        <td>15</td>
                                    </tr>
                                    <tr>
                                        <td>Willams</td>
                                        <td></td>
                                        <td>15</td>
                                    </tr>
                                </table>

                            </div>



                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</section>
<script src="js/variety.js" type="text/javascript"></script>



<%- include("partials/footer"); -%>