<%- include("partials/header"); -%>

<section class="variety">

    <div class="container-fluid vardesc">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 varimg">


                            <img src="images/fruits/plum.png" alt="apple img" class="vimg">
                            <p class="vfname">PLUM</p>
                        </div>


                        <div class="col-lg-8 vardata">

                            <!-- adding quote  -->
                            <div class="varqt">
                                <p><span class="emboss">🧠</span> <br>
                                    One plum gives 14% of your daily vitamin C. The cloudy bloom on the skin is completely natural, so eat up! The juicy inner flesh of plums can be yellow, red, amber or creamy white. Red-fleshed varieties often contain more nutrients than yellow, and tend to be sweeter.

                                </p>
                                <h1 class="listheading">Available Varieties right now ...</h1>

                            </div>

                            <!-- adding table  -->
                            <div class="vartab">
                                <table>
                                    <tr>
                                        <th>Variety</th>
                                        <th>Flesh Colour</th>
                                        <th>Standard Cartoon Weight</th>
                                    </tr>
                                    <tr>
                                        <td>Amber Jewel</td>
                                        <td>Red</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Angelina</td>
                                        <td>Black</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>August Candy</td>
                                        <td>Red</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Black Amber</td>
                                        <td>Black</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Black Giant</td>
                                        <td>Black</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Black Kat</td>
                                        <td>Black</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Black Majesty</td>
                                        <td>Black</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Black Splendor</td>
                                        <td>Black</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Dapple Dandy</td>
                                        <td>Red</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Flavour Fall</td>
                                        <td>Red</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>John W</td>
                                        <td>Red</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>October Sun</td>
                                        <td>Red</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Plum</td>
                                        <td></td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Prime Time</td>
                                        <td>Red</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Queen Garnett</td>
                                        <td>Black</td>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>Red candy</td>
                                        <td>Red</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>September Candy</td>
                                        <td>Red</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Sierra Sweet</td>
                                        <td>Red</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Suplum 24</td>
                                        <td>Black</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Suplum 41</td>
                                        <td>Black</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Suplum 22</td>
                                        <td>Black</td>
                                        <td>10</td>
                                    </tr>
                                </table>
                               

                            </div>



                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</section>

<script src="js/variety.js" type="text/javascript"></script>


<%- include("partials/footer"); -%>