<?xml version="1.0">
<employee>
<head>
<title>
employee details
</title>
</head>
<body>
<details>
< name>Name: "Alisa Ray"</name>
<address>Address: " rohini,new delhi"</address>
<date of joining>date of joining: "09/08/98"</date of 
joining>
<phone>
<mobile>mobile: "9878690564" </mobile>
</phone>
<designation>designation:"manager"</designation>
<email>email:"alisaray.gmail.com"</ email>
</details>
</body>
</emplyee>