.variety{
    height: 100vh;
    
}
.vardesc{
    padding-top: 15px;
}


/* Zebra stipping table  */
tr:nth-child(even) {
    background-color: #c2eebe;
  }

  .vfname{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-weight: 900;
    transform: scale(4.5, 2);
    font-size: 35px;
    letter-spacing: 5px;
    position: relative;
    left: -150%;
    z-index: -5;
    opacity: 0.01;
    transition: 0.3s ease-in-out;

    
  }
  .rightslide{
    animation: rslide 0.3s forwards;

  }
  @keyframes rslide {
   
    10%{
        left: -60%;
        opacity: 0.5;
    }
    50%{
        left: -30%;
        opacity: 0.7;
    }
    70%{
        left: -27%;
        opacity: 0.7;
    }
    95%{
        left: -25%;
        opacity: 0.9;
    }
    100%{
        left: -23%;
        opacity: 1;
    }
  }

  .shake{
animation: shakeonce 0.5s forwards;
  }
  @keyframes shakeonce {
    0%{
        transform: translateY(-150px);
    }
    10%{
        transform: translateY(-100px);
    }
    50%{
        transform: translateY(-50px);
    }
    95%{
        transform: translateY(7px);
        
    }
    100%{
        transform: translateY(0px);
    }
  }


  .vimg{
    width: 100%;
    transition: 0.5s ease-in-out;
    transform: translateY(-150px);
    /* shake animation to be added  */
  }
  .varimg{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;

  }
  .varqt{
    padding: 7%;
    font-family: 'Shantell Sans', cursive;
    /* margin-top: 43%; */
  }
  table{
    width: 70%;
    margin: 2% 15%;
  }
  .vartab{
    overflow: auto;
    height: 52%;
  }
  .listheading{
    position: absolute;
    margin-left: 2%;
    font-weight: 300;
  }