<div class="aboutsec">

    <section class="about" id="aboutus">

        <div class="abtbox">
    
            <h2 class="title heading" data-jarallax-element="0 -200">  Fruit Packing</h2>
            <div class="container">
                <div class="abtimgbox jarallax">
                    <img src="images/abtimg/fruitpacking.jpeg" alt="" class="jarallax-img" >
    
                </div>
                <div class="abtcontent" data-jarallax-element="-200 0 ">
                    <p>Based in Cobram, our production facility operates grading lines packing in excess of 20,000 bins of freshly harvested Stone fruits, 8,000 bins of apples and 1 million prepack units each year</p>
                </div>
            </div>
    
    
        </div>
          
    </section>
    <section class="about">
    
        <div class="abtbox">
    
            <h2 class="title heading" data-jarallax-element="0 200">  Apple & Stone fruit grading</h2>
            <div class="container">
                <div class="abtimgbox jarallax">
                    <img src="images/abtimg/apple.jpeg" alt="" class="jarallax-img">
    
                </div>
                <div class="abtcontent" data-jarallax-element="-200 0 ">
             <p>The Red Leaf Fresh fruits packing facility packs for a wide range of customers that include major domestic retailers, premium wholesale markets, independent retails and major export customers.
    
               Our technology and highly skilled team allow us to efficiently pack into a large number of packing formats.
                             
               Our core focus is around supplying consistent quality product with packing market leading packing rates , with the end goal to maximise returns to our grower base.</p>            </div>
            </div>
    
            
        </div>
          
    </section>
    
    
    <section class="about">
    
        <div class="abtbox">
    
            <h2 class="title heading" data-jarallax-element="0 -200">  State of the art equipment</h2>
            <div class="container">
                <div class="abtimgbox jarallax">
                    <img src="images/abtimg/state.jpeg" alt="State of the art equipment" class="jarallax-img">
    
                </div>
                <div class="abtcontent" data-jarallax-element="-200 0 ">
                    <p>Sourcing packing equipment from across the globe and having undergone an extensive upgrade, we use state of the art internal and external defect sorters, graders and pre-pack equipment, that operate at high speed to maximise efficiency for greater productivity and reduced packing costs.</p>
                </div>
            </div>
    
            
        </div>
          
    </section>
    
    
    <section class="about">
    
        <div class="abtbox">
    
            <h2 class="title heading" data-jarallax-element="0 200">  Bulk packing</h2>
            <div class="container">
                <div class="abtimgbox jarallax">
                    <img src="images/abtimg/bulkpacking.jpeg" alt="Bulk packing" class="jarallax-img">
    
                </div>
                <div class="abtcontent" data-jarallax-element="-200 0 ">
                    <p>Red Leaf production also work with external affiliates to pack an additional 80,000 bins of fruit that is sold and marketed under the Red Leaf brands. Red leaf provides pre-packing and bulk packing services to external partes who wish to utilise our facilities.</p>
                </div>
            </div>
    
            
        </div>
          
    </section>
    
      
</div>

