 <!-- footer part starts  -->

 <section id="footer" class="jarallax-img">

   <div class="container-fluid footerbox">
     <div class="row">

       <div class="col-md-10 col-12 mx-auto">
         <div class="flogodiv"><img src="images/logo/logot.png" alt="logo" class="footerlogo">
           <h2 class="moto" data-jarallax-element="0 -200">Production <span>2</span> Packaging of Fruits for Domestic &
             International Markets ...</h2>

         </div>

         <div class="container-fluid">
           <div class="row">




             <div class="col-lg-4 col-md-6 footercol">
               <ul class="adress-f">

                 <li>
                   <span class="cicon">
                     <i class="fa fa-map-marker" aria-hidden="true"></i>
                     </span>
                     <span class="address cinfo">2912 MEadowbrook road <br>
                       Aus dfd,ca <br>
                       904930</span>

                 </li>


             </div>

             <div class="col-lg-4 col-md-6 footercol">

               <ul class="adress-f">
                 <li>
                   <span class="cicon"><i class="fa fa-envelope"></i></span>
                   <span class="cinfo"><a href="mailto:Info@redleaffreshfruits.com.au"
                       class="telno">Info@redleaffreshfruits.com.au</a></span>
                 </li>
               </ul>



             </div>

             <div class="col-lg-4 col-md-6 footercol">
               <ul class="adress-f">
                 <li>

                   <span class="cicon"><i class="fa fa-phone"></i></span>
                   <span class="cinfo"><a href="tel:+6132463838" class="telno">0358722879</a></span>
                 </li>
               </ul>


             </div>





           </div>
         </div>



       </div>


     </div>
   </div>

   <div class="copyright text-center">copyright © 2023 , All rights Reserved | Dev <a
       href="https://www.instagram.com/real2reel_art/?hl=en" class="copya">@real2reel_art</a></div>

 </section>


 <!-- linking js  -->

 <script src="js/main.js" type="text/javascript"></script>

 <!-- script for jarallax -->

 <script src="js/jarallax.js" type="text/javascript"></script>
 <script src="js/jarallax-element.js" type="text/javascript"></script>
 <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script> -->
 <script>
   jarallax(document.querySelectorAll('.jarallax'), {
     speed: 0.5,
   });
   jarallax(document.querySelectorAll('.jarallax-img'), {
     speed: 0.75,
   });
 </script>



 </body>

 </html>